// General styles

// un theme incluido dentro de angular materials. podemos crear nuestros propios themes dentro de angular materials
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Resets 

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}